@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}


.top {
    background-color: #232323;
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    height: auto;
    
}
.top p{
    margin: 0;
    padding-top: 0.7%;
    padding-bottom: 0.8%;
}

.blink{
    animation: blink 1s infinite;
    color: orange;
    font-weight: bold;
    font-size: 13px;
    

}
@keyframes blink{
    0%, 49%{
        color: white;
    }
    51%, 100%{
        color: orange;
    }

}

.top-bar{
    background-color: #f7f7f7;

}

.top-nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    padding-top: 15px;
    
}

.first-logo img{
    height: auto;
    width: 100px;
    margin-left: 60px;
}

.search-bar{
    
    position: relative;
    align-items: center;
    margin-left: 175px;
    
    
}
.search-bar input{
    border-radius: 25px;
    width: 355px;
    height: 40px;
    border: solid #c7c7c7 1px;
    font-size: 14px;
    padding: 10px 15px;
}
.search-bar input:focus{
    outline: none;
}
.search-btn{
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 25px;
    background-color: black;
    height: auto;
    width: 40px;
    padding-top: 2.1%;
    padding-bottom: 2%;
    border-style: none;
}


.search-btn:hover{
    background-color: orange;
}

.icon1{
    color: white;
}

.user-details{
    margin-right: 80px;
}

.details{
    font-size: 10px;
    padding-left: 10px;
    /* padding-bottom: -20px; */
}

.details:hover{
    color: orange;
}
.details .acc{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: orange;
    height: auto;
    /* padding-bottom: -20px; */

}

.icon i{
    font-size: 35px;
}

.icon3:hover{
    color: orange;
    border: 0px;
}

.fa-user:hover{
    color: #f5ab1e;
}
.icon2{
    font-size: 35px;
    position: relative;
    
}

.icon2 .wishlist-count{
    position: absolute;
    font-size: 10px;
    background-color: orange;
    border-radius: 50%;
    height: auto;
    width: 15px;
    left: 25px;
    top: 2px;
    color: white;

}


.me-3{
    font-size: 34px;
    color: gray;
}



.menu-bar{
    border-top: 1px solid #e8e8e8ee;
    margin-left: 190px;
    margin-right: 190px;
    /* margin-top: 30px; */
    margin-top: 0.5%;
    
    
}

.navlist a{
    color: black;
    font-size: 15px;
    font-weight: 400;
}

.navlist a:hover{
    color: #f5ab1e;
}

.hotline .phnum{
    color: gray;
    
}
.hotline .head1{
    color: #f5ab1e;
}

/* slide carousel */
.carousel-caption .slidebutton{
    border-radius: 50px;
    border-style: none;
    background-color: #f5ab1e;
    height: 50px;
    width: 140px;
    color: white;
    font-size: 15px;
}

.slidebutton:hover{
    background-color: white;
    color:#f5ab1e;
}
.carousel-item .carousel-caption {
    color: black;
    font-family: "Poppins" sans-serif;
}

/* img-grid */

.second-grid {
    padding-top: 80px;
    padding-bottom: 80px;
    
}

/* @media(max-width: 1199px) {
    .second-grid {
        padding-top: 50px;
        padding-bottom: 50px;
    }
} */



.img-fluid {
    transition: 0.3s;
    width: 500px;
}

.img-fluid:hover {
    transform: scale(1.1);
}


.banner-content a{
    padding: 10px 30px;
    border-radius: 50px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #f5ab1e;
    
    background-color: #f5ab1e;
    
    /* text-align: center; */
}

.second-grid .banner-block {
    position: relative;
    overflow: hidden;
}

.second-grid .banner-content a.btn {
    margin-top: 21px;
}

.second-grid .banner-content h3 {
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.second-grid .banner-content {
    position: absolute;
    bottom: 50%;
    width: 50%;
    transform: translateY(50%);
    left: 30px;

}

.second-grid .banner-content.text-top {
    top: 10px;
    bottom: unset;
    transform: translateY(10%);
}

.second-grid .banner-content.text-bottom {
    bottom: 10px;
    transform: translateY(-10%);
    top: unset;
}


/* shop by category */



.category {
    background-color: #f7f7f7;
}

.item {
    margin-right: 30px;
}

.image-container {
    position: relative;
    overflow: hidden;
}

.image-container img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
    border-radius: 50%;
}

.overlay p {
    font-size: 18px;
}

.image-container:hover .overlay {
    opacity: 0.8;
}



  


/* TD products */

.products {
    /* background-color: #f7f7f7; */
    /* height: 500px; */
    padding-top: 100px;
}

.item {
    margin-right: 30px;
}

.image-block {
    position: relative;
    overflow: hidden;
}

.image-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
  
}


.image-block:hover .overlay {
    opacity: 1;
}

.l-w-v{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 700;
    color: black;
    align-items: center;
    flex-direction: column-reverse;
}




/* deal-bg */

.deal-bg{
    background-image: url(/Assets/dealbanner.webp);
    height: auto;
    background-attachment: fixed;
    
}

.bg-content{
    display: block; 
    color: white;
    margin-left: 20%;
    margin-top: 7%;
    margin-bottom: 8%;
    
}

.bg-content p{
    margin-left: 2%;
}


.bg-content h2{
    font-weight: 600;
    font-family: 'Poppins' sans-serif;
    margin-left: 3%;
    padding-bottom: 1%;
}


.bg-content button{
    border-radius: 50px;
    color: white;
    background-color: #f5ab1e;
    border:1px solid #f5ab1e;
    height: auto;
    width: 10%;
    margin-left: 6%;
}

.bg-content button:hover{
    border-color: #f5ab1e;
    background-color: transparent;
    color:#f5ab1e ;
}


.countdown ul{
    display: flex;


}

.countdown ul li{
    list-style: none;
    position: relative;
    padding-top: 3%;
    padding-left: 1%;
    
    
}

.countdown .seperator{
    font-size: 40px;
    padding-top: 3px;
    color: #232323;
    padding-left: 1px;
}

.countdown span{
    position: absolute;
    
    top: 10px;
    
    
}
.countdown .count-bg{
    background-color: #f5ab1e;
    height: 70px;
    width: 60px;
    border-radius: 5px;
}




/* our products-sec */

.grid-carousel{
    margin-left: 25%;
    height: auto;
    width: 100%;
}

.product-section {
    height: 200px;

}

.p-title h1{
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins' sans-serif;
    text-align: center;
    text-decoration: none;
}

.p-types{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    margin-top: 30px;
    
}

.p-types a {

    font-size: 15px;
    font-weight: bold;
    color: #949494;
    border-radius: 50px;

}


.owl-grid{
    display: flex !important;
}

.img-grid-block{
    position: relative;
    overflow: hidden;
    margin: 2px;
}

.img-grid-block img{
    height: auto;
    /* width: 100px; */
    max-width: 100%;
    object-fit: cover;
}

.overlay-grid{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.img-grid-block:hover .overlay-grid {
    opacity: 1;
}

.l-w-v{
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    z-index: 700;
    color: black;
    align-items: center;
    flex-direction: column-reverse;
}






/* Subscribe */

.bg-img{
    background-image: url(Assets/banner3-min.jpg);
    margin-bottom: 10%;
    padding-bottom: 3%;
    height: auto;
}

.bg-img h3{
    color: #ffffff;
    margin-left: 60%; 
    margin-top: 5%;
    font-size: 20px;
}
.bg-img h6{
    margin-left: 57%;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

/* .bg-img h5{
    font-size: 12px;
    padding-left: 1000px;
    padding-top: 15px;

} */

.bg-img  input{
    margin-left: 48%;
    position: relative;
    width: 33%;
    border-radius: 50px;
    height: auto;
    border: none;
    padding-left: 1%;
    padding-top: 0.7%;
    padding-bottom: 0.7%;
    font-size: small;
}
.bg-img button{
    position: absolute;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    height: auto;
    width: 5%;
    border:none;
    color: #ffffff;
    background-color: orange;
    margin-left: -5%;
    padding-top: 0.6%;
    padding-bottom: 0.6%;
    font-size: 16px;
    text-align: inherit;

}

/* testimonal area */

.owl-three{
    width: 50%;
    margin-left: 15%;

   
}

.owl-three img{
    height: auto;
    max-width: 60%;
    border: 1px solid #fff;
    
    
}


.section-title{
    text-align: center;
}

/* recent news */

.recent-news{
    display: flex;
}

.news-title{
    text-align: center;
    margin-bottom: 100px;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Poppins' sans-serif;
}

.card-img-top{
    height: 200px;
    position: relative;
}

.relative{
    position: relative;
}
.num1 {
    width: 58px;
  
    color: white;
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 58px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    top: -20px;
    position: absolute;
    left: 30px;

    
}


.num2 {
    width: 58px;
    position: absolute;
    color: white;
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 58px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.num3 {
    width: 58px;
    position: absolute;
    color: white;
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 58px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/* logos animation */

.container.brand-logo{
    padding-top: 10px;
    padding-bottom: 50px;
}

  .logoanimation {
    display: flex;
    justify-content: center;
    width: 75px;
    height: 75px;
    position: relative;
    animation: 5s infinite;
    animation-name: run;
    animation-direction: alternate;
  }
  
  @keyframes run {
    0%   { left: 0px; top: 0px;}
    50%  { left: 200px; top: 0px;}
    100% { left: 0px; top: 0px;}
  }


/* footer-section */

footer{
    background-color: #faf8ed;
}


.bg {
    border-radius: 50px;
    background-color: #f5ab1e;
    padding: 30px;
    height: 30px;
    width: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bg-outer {
    border-radius: 50px;
    border: 2px solid #f5ab1e;
    padding: 40px;
    height: 35px;
    width: 35px;
    position: relative;
    margin: 50px;
}

.servicesarea {

    display: flex;


}

.serviceinfo{
   display: flex;
   align-items: center;

}

.serviceinfo p{
    font-size: 15px;
}

.bg i{
    position: absolute;
    color: white;
    font-size: 30px;
    top: 13px;
    left: 13px;

}

/* footerinfo */
.row1{
    padding-top: 30px;
    border-top: 1px solid #e8e8e8ee;
}

.row1  img{
    padding-bottom: 2%;
    height: auto;
    width: 30%;
}
.logoinfo{
    margin-left: 10%;
}
.logoinfo p{
    padding-top: 2%;
    width: 90%;
    font-size: 13px;
}


.add i{
    position: relative;
    color: #f5ab1e;
    font-size: 35px;
    top: 30px;  
    
}

.add span{
    position: absolute;
    padding-left: 10px;
    padding-top: 15px;
    font-family: 'Poppins' sans-serif;
}

.add h4{
    color: #f5ab1e;
    font-size: 18px;
}

.add p{
    font-size: 13px;
    font-family: 'Poppins' sans-serif;
}


.loc i{
    position: relative;
    color: #f5ab1e;
    font-size: 35px;
    top: 30px;   
}
.loc span{
    position: absolute;
    padding-left: 10px;
    padding-top: 15px;
    font-family: 'Poppins' sans-serif;
}

.loc h4{
    color: #f5ab1e;
    font-size: 18px;
}

.loc p{
    font-size: 13px;
    font-family: 'Poppins' sans-serif;
}



/* list area */
.row2{
    padding-top: 30px;
    border-top: 1px solid #e8e8e8ee;    
}
.row2 li{
    list-style: none;
    font-size: 13px;
}

.row2 h4{
    color: #f5ab1e;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
    font-weight: 600;
}

.row2 .borderdash{
    padding: 10px 0;
    border-bottom: 1px dashed #7b7b7bee;
} 



/* footerbottom */
.footerbottom{
    margin-top: 50px;
    background-color:#f5ab1e;
    
}


.footerbottom .ft-bottom {
    display: flex;
    justify-content: space-evenly;
    
}

.ft-bottom{
    padding-top: 15px;
}
.footerbottom .copyright{
    font-size: 13px;
    color: white;
    font-family: 'Poppins' sans-serif;
}

.social-ic i{
    color:#f5ab1e;
    background-color: white;
    border-radius: 50px;
    height: 30px;
    width: 30px;
    padding: 8px;
    margin-right: 5px;

}
